/* GERAL> */


/* responsividade */

@media screen and (min-width: 768px) {
    /*nav*/
    nav {
        flex-direction: column;
        justify-content: space-around;
    }
    nav ul {
        flex-direction: column;
        width: 70%;
    }
    /* cabeçalho */
    header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }
    /*celeiro*/
    #celeiro {
        height: 600px;
        height: 60vh;
        justify-content: center;
        min-height: 250px;
    }
    #produtos {
        flex-direction: column;
    }
    .produto-single {
        flex-direction: column;
    }
}


/* corpo */

body {
    font-family: "DM Sans", sans-serif;
    color: #c1c1c1;
    background-color: #1e1e1e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DM Sans", sans-serif;
    color: #ffffff;
}


/* menu */

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #45a7ef;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    font-size: 15px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}


/* cabeçalho */

header {
    max-height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/celeiro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

header h1 {
    color: #ffffff;
}

header p {
    margin-bottom: 2em;
}

#celeiro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #45a7ef;
    color: #ffffff;
}

#celeiro h2 {
    color: #ffffff;
}

#celeiro p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}


/*=========PARTE DA LOJA========*/

#novos {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-direction: row;
}

.novos-single {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 1px solid #ccc;
    margin-right: 1%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.novos-single img {
    max-width: 300px;
    max-height: 300px;
}

.novos-single p,
a {
    display: flex;
    justify-content: flex-start;
}


/* @media only screen and (max-device-width: 900px) { */


/* /~ .menu { width:100%; } ~/ */


/* } */


/* .display-flex { */


/* width: 100%; */


/* height: 70px; */


/* display: flex; */


/* justify-content: space-evenly; */


/* align-items: center; */


/* } */


/* /~ <GERAL ~/ */


/* /~ HEADER> ~/ */


/* .header-class {} */


/* /~ <HEADER ~/ */


/* /~ TÍTULOS E TAMANHOS> ~/ */


/* .page-title .title, */


/* h1, */


/* h2, */


/* h3, */


/* h4, */


/* h5, */


/* h6 { */


/* color: #fff; */


/* font-weight: 700; */


/* line-height: 1.5em; */


/* text-transform: uppercase; */


/* } */


/* .page-title .title, */


/* h1 { */


/* font-size: 42px; */


/* } */


/* h2 { */


/* font-size: 35px; */


/* position: relative; */


/* padding-bottom: 10px; */


/* margin-bottom: 20px; */


/* letter-spacing: 0.1em; */


/* text-align: center; */


/* } */


/* h2::before { */


/* content: ''; */


/* position: absolute; */


/* bottom: 0; */


/* left: 50%; */


/* width: 140px; */


/* height: 2px; */


/* background-color: #45a7ef; */


/* transform: translate(-50%, 0); */


/* } */


/* h3 { */


/* font-size: 29px; */


/* } */


/* h4 { */


/* font-size: 24px; */


/* letter-spacing: 0.1em; */


/* } */


/* h5 { */


/* font-size: 20px; */


/* letter-spacing: 0.07em; */


/* } */


/* h6 { */


/* font-size: 17px; */


/* letter-spacing: 0.05em; */


/* } */


/* .subtitulo { */


/* max-width: 710px; */


/* margin: 0 auto 55px; */


/* text-align: center; */


/* } */


/* .titulo a { */


/* color: #fff; */


/* } */


/* .titulo a:hover { */


/* color: #45a7ef; */


/* } */


/* /~ <TÍTULOS E TAMANHOS ~/ */